/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
}

a {
    color: inherit;
}

a:hover {
    font-weight: 800;
    cursor: pointer;
}

/* Estilos generales */

* {
    scroll-behavior: smooth;
}

/* Fuentes */

@font-face {
    font-family: 'Gill Sans';
    src: url('../fonts/GLSNECB.ttf');
}

h1,
h2,
h3,
h4,
p,
header,
section,
button,
li {
    font-family: 'Alegreya', Arial, sans-serif;
    color: white;
    text-align: center;
    font-size: 16px;
}

/* Fondo */

/* la imagen no me da bola */

/* HEADER */

header {
    position: sticky;
    top: 0;
    z-index: 2;
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #54592C;
}

#menuRedesHeader {
    display: flex;
    align-items: center;
}

#logoYoutubeHeader,
#logoInstagramHeader,
#logoWhatsAppHeader,
#burgerMenuImg {
    height: 40px;
    padding: 10px;
    display: block;
}

#burgerMenu {
    background-color: transparent;
}

nav {
    display: none;
}

#mainMenu ul li a {
    font-weight: 600;
}

/* BODY Y SECCIONES EN GENERAL */

body {
    min-height: 100vh;
    background-image: url('../img/mobile/ARTBOARD-FONDO.jpg');
    background-size: cover;
    background-attachment: fixed;
}

section {
    margin: 0 5vw;
    padding: 5%;
}

.imgFondo {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.imgFondo img {
    width: 100%;
    height: 100%;
}

section h2 {
    margin: 0.5em 0;
}

/* SECCIÓN 1 INTRO - PRESENTACIÓN SITIO */

section#presentacionSitio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 90vh;
}

#logoCuerpoOrig {
    padding-left: 5vw;
    width: 62vw;
}

h1.elementoSeccion1 {
    font-family: 'Gill Sans';
    letter-spacing: 0.1em;
    font-size: 35px;
    font-weight: 400;
    text-shadow: 2px 2px 1px #201B1F;
}

#tipito, #separadorFormacion {
    width: 20vw;
    margin: 2vh 0;
}

h2 {
    font-size: 16px;
    font-weight: 400;
}

.elementoSeccion1 {
    margin: 3vh 0;
}

#escuelaCantoTitulo {
    font-weight: 600;
}

#paulaNaanim {
    color: #FFFFFF;
}

#paulaNaanim:hover {
    font-weight: 800;
    cursor: pointer;
}

.trazoSubUno {
    height: 16px;
    width: 130px;
    position: relative;
    bottom: 7px;
    left: 10px;
}

/* SECCIÓN 1.5 VIDEOS INFORMATIVOS */

#videosInformativos {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5% 0;
    padding: 0;
    background-color: #201B1F81;
}

#videosInformativos article {
    margin: 15px 0;
    width: 100%; 
}

#videosInformativos h2 {
    font-family: 'Gill Sans';
    letter-spacing: 0.1em;
    font-size: 35px;
    text-shadow: 2px 2px 1px #201B1F;
    margin: 10px;
}

.videoContainer {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    width: 100%
}

.itemVideoInformativo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* SECCIÓN 2 FORMACIÓN INTEGRAL */

section#formacionIntegral {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: 100vh;
    position: relative;
}

#formacionIntegral h2 {
    font-family: 'Gill Sans';
    letter-spacing: 0.1em;
    font-size: 40px;
    text-shadow: 2px 2px 1px #201B1F;
    z-index: 1;
}

.trazoDecorativo {
    position: absolute;
    left: 0;
    top: 7%;
    width: 30%;
    overflow: hidden;
}

.trazoDecDos {
    position: absolute;
    right: 0;
    bottom: 25%;
    width: 30%;
    overflow: hidden;
}

#formacionIntegral article {
    z-index: 1;
}

#formacionIntegral article h3 {
    text-transform: uppercase;
}

#formacionIntegral p,
#consultoriaVoz p,
#asesoriaVoz p,
#cierre p,
#descripcionNivelUno p,
#sectConscienteNivelUno p,
#sectConscienteNivelDos p,
#descripcionVisionarioNivelDos p {
    margin: 1em 0;
}

#coordenadasIniciacionConsciente p,
#coordenadasProfundizacionConsciente p,
#coordenadasProfundizacionVisionario p,
#coordenadasConsultoria div p,
#coordenadasAsesoria div p {
    margin: 0;
}

#separadorFormacion {
    margin: 10px 0 0;
}

.importantP {
    font-family: 'Gill Sans';
    letter-spacing: 0.1em;
    font-size: 25px;
    text-shadow: 2px 2px 1px #201B1F;
}

.textoNegrita,
.textoNegrita a {
    font-weight: 800;
}

/* SECCIÓN 3 CONSULTORÍAS */

.trazoDecDosCinco {
    position: absolute;
    left: 0;
    top: 10%;
    width: 45%;
    overflow: hidden;
}

.trazoDecTres {
    position: absolute;
    right: 0;
    bottom: 45%;
    width: 30%;
    overflow: hidden;
}

.trazoDecCuatro {
    position: absolute;
    left: 0;
    bottom: 15%;
    width: 20%;
    overflow: hidden;
}

section#consultoriaVoz {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: 100vh;
    position: relative;
}

#consultoriaVoz h2 {
    font-family: 'Gill Sans';
    letter-spacing: 0.1em;
    font-size: 40px;
    text-shadow: 2px 2px 1px #201B1F;
    z-index: 1;
}

#consultoriaVoz p {
    z-index: 1;
}

#coordenadasConsultoria {
    z-index: 1;
    position: relative;
    margin: 2em;
}

#coordenadasConsultoria img {
    position: absolute;
    height: 100%;
    width: 100%;
    right: 0;
    left: 0;
}

#coordenadasConsultoria div {
    margin: 25%;
    margin-top: 32%;
}

#coordenadasConsultoria p {
    position: relative;
    z-index: 2;
}

/* SECCIÓN 4 ASESORÍAS */

.trazoDecCinco {
    position: absolute;
    right: 0;
    bottom: 10%;
    width: 30%;
    overflow: hidden;
}

.trazoDecSeis {
    position: absolute;
    left: 0;
    top: 15%;
    width: 20%;
    overflow: hidden;
}

section#asesoriaVoz {
    background-color: transparent;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: 100vh;
    position: relative;
}

#asesoriaVoz h2 {
    font-family: 'Gill Sans';
    letter-spacing: 0.1em;
    font-size: 40px;
    text-shadow: 2px 2px 1px #201b1f7a;
}

#asesoriaVoz h2,
#asesoriaVoz p {
    color: black;
    z-index: 3;
}

#coordenadasAsesoria {
    z-index: 1;
    position: relative;
}

#coordenadasAsesoria div {
    margin: 25%;
}

#coordenadasAsesoria img {
    position: absolute;
    height: 100%;
    width: 100%;
    right: 0;
    left: 0;
}

/* SECCIÓN 5 BIO */

section#bio {
    background-color: transparent;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: 100vh;
}

#nombrePaula {
    font-family: 'Gill Sans';
    letter-spacing: 0.1em;
    font-size: 25px;
}

#hola {
    font-family: 'Gill Sans';
    letter-spacing: 0.1em;
    font-size: 40px;
    line-height: 0.8em;
    text-shadow: 2px 2px 1px #201B1F;
}

#imagenBio {
    width: 100%;
    padding: 5% 5% 0;
}

#galeriaFotosBio {
    display: flex;
    justify-content: center;
    margin: 5% 0;
}

.fotoGaleriaBio {
    max-width: 33%;
}

#bio p {
    margin: 16px;
}

#bio h3 {
    margin: 16px;
    font-family: 'Gill Sans';
    letter-spacing: 0.1em;
    font-size: 25px;
    text-shadow: 2px 2px 1px #201B1F;
}

#bio h4 {
    font-size: 20px;
}

/* SECCIÓN 5 CIERRE */

#cierre {
    /*background-color: #54592C;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: 100vh;
    position: relative;
}

#cierre article p strong {
    font-weight: 700;
}

#galeriaFotosServicios {
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    justify-content: space-between;
    margin: 5% 0;
}

.fotoGaleriaServicios {
    max-width: 20%;
}

#cierre article,
#tipito {
    z-index: 1;
}

/* ACCORDION */

.accordion,
.secAccordion,
.thirdAccordion,
.accordionNivelDos,
.accordionNivelDosVisionario {
    background-color: inherit;
    color: #201B1F;
    cursor: pointer;
    padding: 18px;
    /*width: 100%;*/
    border: none;
    text-align: center;
    outline: none;
    transition: 0.4s;
    font-weight: 600;
    position: relative;
    margin-bottom: 10px;
}

/*.accordion {
    background-color: white;
    color: #201B1F;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    transition: 0.4s;
    font-weight: 600;
    position: relative;
}*/

.active,
.accordion:hover,
.secAccordion:hover,
.thirdAccordion:hover,
.accordionNivelDos:hover,
.accordionNivelDosVisionario:hover {
    color: white;
    background-color: rgba(32, 27, 31, 0.40);
}

.panel,
.secPanel,
.thirdPanel,
.panelNivelDos,
.panelNivelDosVisionario {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    z-index: 1;
}

.containerBotonesHorizontal,
.containerCadaBoton {
    z-index: 1;
}

/* NUEVA PESTAÑA */

#sectProgramaCompleto {
    padding: 0;
}

#progCompleto {
    font-family: 'Gill Sans';
    letter-spacing: 0.1em;
    font-size: 50px;
    font-weight: 400;
    text-shadow: 2px 2px 1px #201B1F;
    margin: 1em 0.5em 0.1em;
}

#tablaProgCompleto {
    margin: 3em 1em;
}

table,
td,
th {
    font-family: 'Alegreya', Arial, sans-serif;
    color: white;
    font-size: 16px;
}

table {
    margin: 25px;
}

td,
th {
    padding: 0.5em;
    text-align: left;
}

th {
    text-transform: uppercase;
}

#sectConscienteNivelUno,
#sectConscienteNivelDos,
#descripcionVisionarioNivelDos {
    margin: 0 5vw;
    padding: 0 5%;
}

#sectConscienteNivelUno article,
#sectConscienteNivelDos article,
#descripcionVisionarioNivelDos article {
    margin: 5% 0;
}

#sectConscienteNivelUno h2,
#sectConscienteNivelDos h2,
#descripcionVisionarioNivelDos h2,
#descripcionSupervisiones h2 {
    margin: 25px;
    font-family: 'Gill Sans';
    letter-spacing: 0.1em;
    font-size: 35px;
    text-shadow: 2px 2px 1px #201B1F;
}

#progCompletoSubtitulo {
    margin: 0 0.5em 1em;
    font-family: 'Gill Sans';
    letter-spacing: 0.1em;
    font-size: 35px;
    text-shadow: 2px 2px 1px #201B1F;
}

#sectConscienteNivelUno h3,
#sectConscienteNivelDos h3,
#descripcionVisionarioNivelDos h3 {
    font-size: 20px;
}


#sectConscienteNivelUno h2 strong {
    font-size: 17px;
}

/*#sectConscienteNivelUno,
#descripcionConscienteNivelUno,
#contenidosConscienteNivelUno,
#sectConscienteNivelDos,
#descripcionConscienteNivelDos,
#contenidosConscienteNivelDos {
    margin: 0.2em;
}*/

/* MEDIA QUERIES */

@media (min-width: 400px) {
    #logoCuerpoOrig {
        width: 50vw;
        padding-left: 2vw;
    }
}

@media (min-width: 550px) {
    #logoCuerpoOrig {
        width: 35vw;
        padding: 0;
    }

#videosInformativos article {
    margin: 30px 0 15px;
}

#videosInformativos article:last-child {
    margin: 30px 0 45px;
}

#videosInformativos h2 {
    margin: 20px 0 10px;
}
}

@media (min-width: 768px) {

    /* HEADER */

    header {
        height: 70px;
    }

    #burgerMenu {
        display: none;
    }

    #mainMenu {
        display: block;
    }

    #mainMenu ul {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin: 0 2em;
    }

    #logoYoutubeHeader,
    #logoInstagramHeader,
    #logoWhatsAppHeader {
        height: 50px;
        padding: 15px;
    }

    #mainMenu ul li {
        font-size: 16px;
        padding: 1em;
    }

    /* SECCIÓN INTRO */

    section#presentacionSitio {
        flex-direction: row;
    }

    #logoCuerpoOrig {
        padding-left: 0;
        width: 40vw;
    }

    h1.elementoSeccion1 {
        font-size: 50px;
    }

    /* acá por ahí me convendría hacerlo al revés, de un costado el logo y al otro el texto */

    #tipito, #separadorFormacion {
        width: 10vw;
    }

    #separadorFormacion {
        margin: 18px 0 0;
    }

    /* SECCIÓN VIDEOS INFORMATIVOS */

    #videosInformativos {
        flex-direction: row;
        padding: 2% 0;
        min-height: auto;
    }

    #videosInformativos article {
        width: 33%;
        height: auto;
        margin: 15px;
        padding: 0 2%;
    }

    #videosInformativos article {
        margin: 15px 0;
    }
    
    #videosInformativos article:last-child {
        margin: 15px 0;
    }
    
    #videosInformativos h2 {
        margin: 10px;
    }

    /* SECCIÓN FORMACIÓN, CONSULTORÍA, ASESORÍA */

    .importantP {
        font-size: 35px;
    }

    #formacionIntegral h2,
    #consultoriaVoz h2,
    #asesoriaVoz h2 {
        font-size: 50px;
    }

    /* SECCIÓN BIO */

    #bio img {
        float: right;
        width: 30%;
        padding: 0;
    }

    #presentacionFoto {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-bottom: 30px;
    }

    #nombrePaula {
        font-size: 40px;
    }

    #hola {
        font-size: 60px;
    }

    #bio h3 {
        font-size: 40px;
    }
}

@media (min-width: 1024px) {

    p,
    button {
        font-size: 17px;
    }

    #mainMenu ul li {
        font-size: 20px;
        padding: 1em;
    }

    #formacionIntegral,
    #consultoriaVoz,
    #cierre {
        margin-bottom: 5%;
    }

    #presentacionSitio h2 {
        font-size: 20px;
    }

    .trazoSubUno {
        width: 160px;
        left: 14px;
        bottom: 9px;
    }

    #coordenadasConsultoria {
        min-width: 70%;
    }

    #coordenadasConsultoria div {
        margin: 10% 20%;
    }

    #coordenadasAsesoria {
        min-width: 70%;
    }

    #coordenadasAsesoria div {
        margin: 10% 20%;
    }

    /* FORMACIÓN INTEGRAL */

    .containerBotonesHorizontal {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
    }
}